<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-contact">
      <div class="footer-contact-item">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:becky@rdv.bot" data-i18n="footerEmail">becky@rdv.bot</a>
      </div>
      <div class="footer-contact-item">
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+1234567890" data-i18n="footerPhone">+1 234 567 890</a>
      </div>
      <div class="footer-contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <span data-i18n="footerAddress">San Francisco, CA, USA</span>
      </div>
    </div>
    <div class="footer-social">
      <a href="https://x.com" target="_blank" rel="noopener" title="X"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://weibo.com" target="_blank" rel="noopener" title="Weibo"><i class="fa-brands fa-weibo"></i></a>
      <a href="https://www.xiaohongshu.com" target="_blank" rel="noopener" title="Xiaohongshu"><i class="fa-solid fa-book-open"></i></a>
    </div>
    <div class="footer-copyright">
      <span data-i18n="footerCopyright">© 2025 RDV. All rights reserved.</span>
    </div>
  </div>
</footer>