<header class="site-header">
  <div class="header-inner">
    <a href="{{ site.url }}" class="logo">RDV</a>
    <div class="header-actions">
      <button class="theme-switch" id="theme-switch" title="Switch Theme">
        <i class="fa-solid fa-moon"></i>
      </button>
      <div class="lang-dropdown">
        <button class="lang-switch" id="lang-switch" title="Switch Language">
          <i class="fa-solid fa-globe"></i>
        </button>
        <div class="lang-menu" id="lang-menu">
          <button class="lang-option active" data-lang="en">EN</button>
          <button class="lang-option" data-lang="zh">中文</button>
        </div>
      </div>
    </div>
  </div>
</header>