<section class="hero" id="hero">
  <img class="hero-bg hero-bg-light" id="hero-bg-light" src="{{ 'assets/hero/light/humanoidlearn.jpg' | relative_url }}" alt="Hero Background Light">
  <img class="hero-bg hero-bg-dark" id="hero-bg-dark" src="{{ 'assets/hero/dark/humanoidlearn dark.jpg' | relative_url }}" alt="Hero Background Dark">
  <video class="hero-bg hero-video" id="hero-video" src="{{ 'assets/hero/light/humanoidlearnvideo1.mp4' | relative_url }}" playsinline muted loop autoplay></video>
  <div class="hero-content">
    <h1 class="hero-title" id="hero-title">
      <span class="hero-fixed-container">
        <span class="hero-fixed">Data Fuels</span>
      </span>
      <span class="hero-carousel-container">
        <span class="word-carousel">
          <span class="word active">Physical AI</span>
          <span class="word inactive">Embodied AI</span>
        </span>
      </span>
    </h1>
    <div class="hero-arrow" id="hero-arrow" title="Scroll Down">
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</section>